<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Настройка расписания</title>
    <style>
   .btn {
    display: inline-block; /* Строчно-блочный элемент */
    background: #8C959D; /* Серый цвет фона */
    color: #fff; /* Белый цвет текста */
    padding: 1rem 1.5rem; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 3px; /* Скругляем уголки */
   }
  </style>
</head>
<body>
<h1>Настройка записи {{ blog3.id }}</h1>


<div class="alert alert-info">

    <div class="alert alert-info">
        <h2>{{ blog3.title }}</h2>
        <img src="{{ blog3.intro }}" width="450" height="300">
        <a href="/create3_detail/{{ blog3.id }}/delete" class="btn">Удалить</a>
        <a href="/create3_detail/{{ blog3.id }}/update" class="btn">Редактировать</a>
    </div>
</div>
