<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование записи</title>
    <style>
   .btn {
    display: inline-block; /* Строчно-блочный элемент */
    background: #8C959D; /* Серый цвет фона */
    color: #fff; /* Белый цвет текста */
    padding: 1rem 1.5rem; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 3px; /* Скругляем уголки */
   }
  </style>
</head>
<body>
<h1>Редактирование записи {{ blog.id }}</h1>
<form method="post">
    <input type="text" name="title" id="title" class="form-control" value="{{ blog.title }}" placeholder="Введите название"><br>
    <textarea name="text" id="text" class="form-control" placeholder="Введите текст">{{ blog.text }}</textarea><br>
    <textarea name="intro" id="intro" class="form-control" placeholder="Введите график работы">{{ blog.intro }}</textarea><br>
    <input type="submit" class="btn btn-success" value="Редактировать">
</form>

