<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Настройка записи 2</title>
    <style>
   .btn {
    display: inline-block; /* Строчно-блочный элемент */
    background: #8C959D; /* Серый цвет фона */
    color: #fff; /* Белый цвет текста */
    padding: 1rem 1.5rem; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 3px; /* Скругляем уголки */
   }
  </style>
</head>
<body>
<h1>Настройка записи 2 {{ blog2.id }}</h1>


<div class="alert alert-info">
    <h2>{{ blog2.title }}</h2>
    <div class="alert alert-info">
        <p>{{ blog2.text }}</p>
        <p>{{ blog2.intro }}</p>
        <p><b>Дата: {{ blog2.date.date() }}</b></p>
        <a href="/create2_detail/{{ blog2.id }}/delete" class="btn">Удалить</a>
        <a href="/create2_detail/{{ blog2.id }}/update" class="btn">Редактировать</a>
    </div>
</div>
